@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.hero { 
    background-color: #333;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/pexels-igor-starkov-1307698.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 100vh;

}

.hero header { 
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    cursor: pointer;
    font-size: 35px;
}

.toggle {
    position: relative;
    width: 80px;
    height: 80px;
    background: url(../images/menubar.png);
    background-repeat: no-repeat;
    background-size: 39px;
    background-position: center; 
    cursor: pointer;
}

.toggle.active {
    background: url(../images/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center; 
}

.menu {
    background: hsl(0, 0%, 0%, 0.85);
    position: fixed;
    inset: 0 0 0 10%;
    padding: 5rem 2em;
}

@supports (backdrop-filter: blur(2rem)) {
    .menu {
        background: hsl(0, 0%, 0%, 0.512);
        backdrop-filter: blur(2rem);
    }
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    padding-bottom: 25px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    padding: ;
}

@media (max-width: 35em) {
    .menu {
        position: fixed;
        inset: 0 0 0 10%;
        padding: 5rem 2em;
    }
    .menu ul li {
        padding-bottom: 25px;
    }
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
    align-items: center;
}