@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    padding-bottom: 0.5rem;
    font-size: 36px;
}

p {
    font-size: 1.2rem;
}

button {
    border: 2px solid #27CEEF;
    font-size: 1rem;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 30px;
    cursor: pointer;
    color: #27CEEF;
    font-weight: 450;
    background-color: transparent;  
}

.button {
    text-align: center;
    margin: 58px 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
    line-height: 1.5;
}

.hero { 
    background-color: #333;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/pexels-igor-starkov-1307698.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 100vh;
}


.hero header { 
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding-top: 34px;
    font-weight: bold;
    cursor: pointer;
    font-size: 35px;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.toggle {
    position: absolute;
    background: url(../images/menubar.png);
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 39px;
    background-position: center; 
    cursor: pointer;
    border: none;
    top: 1rem;
    right: 0.6rem;
    z-index: 9999;
}

.toggle[aria-expanded='true'] {
    background: url(../images/close.png);
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 39px;
    background-position: center; 
    cursor: pointer;
    border: none;
    top: 1rem;
    right: 0.6rem;
    z-index: 9999;
}

.primary-nav {
    background: hsl(0, 0%, 0%, 0.85);
    position: fixed;
    inset: 0 0 0 30%;
    padding: 5rem 2em;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    padding-bottom: 25px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

.primary-nav[data-visible='true'] {
    transform: translateX(0%);
}

.intro .container {
    padding-top: 90px;
}

.intro .container button {
    margin-bottom: 72px;
}

.container img {
    height: auto;
    width: 100%;
    padding-bottom: 45px;
}

.subscription .container {
    background-color: #333;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding-top: 90px;
    padding-left: 0;
    padding-right: 0;
}

.subscription .container .copy {
    padding-left: 1rem;
    padding-right: 1rem;
}

.subscription .container img {
    padding: 0;
}


@media (min-width: 768px) {
    .subscription .container {
        display: flex;
        flex-direction: row;
        padding: 0;
        align-items: center;
        justify-content: center;
        background-color: #333;
        width: 100%;
        color: white;
        text-align: center;
    }
    .container img {
        height: auto;
        width: 50%;
        padding-bottom: 0;
        padding-right: 0;
    }
    h2 {
        padding-bottom: 0.5px;
    }
}


.gift-cards .container {
    padding-top: 90px;
}

.gift-cards .container h2 {
    text-align: center;
    padding-bottom: 0.5rem;
}

.gift-cards .container button {
    background-color: #27CEEF;
    color: white;
    font-weight: bold;
}

.gift-cards .container .contest-image {
    padding-top: 25px;
    text-align: center;
}

.carousel-container {
    background-color: #121212;
}

.carousel-container .review img {
    width: 100%;
}